/* Fonts */

body {
  font-family: "Montserrat", sans-serif;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #2279fc;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  cursor: pointer;
  margin: -6px;
}

.logo {
  width: 100px;
}

.logo-text {
  font-size: 1.75em;
}

.explore {
  padding: 2em;
}

#search-icon {
  padding: 2em;
}

.footer-logo {
  width: 150px;
}

/* Footer */

.footer-flex {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #2279fc;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-links > p {
  padding: 1em;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copy {
  padding: 1em;
}

.footer-terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-terms > p {
  padding: 1em;
}

/* HOT CITIES SECTION */
.hot-cities-section {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin: 0 auto;
  width: 85%;
}

/* Review Section */
.review-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../src/assets/review-section-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  color: white;
}
